html {
  scroll-behavior: smooth;
}

body {
  max-width: 1200px;
  margin: 0px auto;

}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 1px solid #555555;
}

.landing-section {
  min-height: 100vh;
}

// https://codepen.io/bastianalbers/pen/PWBYvz

.section {
  min-height: 100vh;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
  transition:  height 3s; 
}


.section-inner {
  position: absolute;
  left: 5%;
  right: 5%;
  top: 5%;
  bottom: 5%;
  margin: auto;
  background: white;
  transition:  height 3s; 

  .page-content {
    overflow-y: scroll;
    height: calc(100vh - 200px);
    border-bottom: 2px solid #000;
    margin-top: 40px;
    padding: 0px 30px;
    transition:  height 0.65s 0.1s; 
    @media screen and (max-width: 800px) {
      padding: 0px 5px 0px 0px;
    }
  }

  .contact-us-content {

    height: calc(100vh - 150px);
    margin-top: 40px;
    padding: 0px 30px;
    transition:  height 0.65s 0.1s; 
    @media screen and (max-width: 800px) {
      padding: 0px 5px 0px 0px;
    }
    h3 {
      font-family: 'gothicm';

    }
  }
}


@media screen and (max-width: 800px) {
  h3 {
    letter-spacing: 0.2rem !important;
  }
}

.page-title-head {
  border-bottom: 2px solid #000;
  display: grid;
  grid-template-columns: auto 50px;

  .close-layer {
    align-self: center;
    cursor: pointer;
    font-family: 'GOTHICB';
  }

}

.contact-us-page-head {
  display: grid;
  grid-template-columns: auto 50px;

  .close-layer {
    align-self: center;
    cursor: pointer;
    font-family: 'GOTHICB';
  }

}

.page-title-head .cl {
  font-size: 4rem;
  font-family: 'BodoniFLF-Regular';
  line-height: 3rem;
}

.page-title-head .sl {
  font-family: 'gothicm';
  font-size: 1.2rem;
  text-transform: uppercase;
}

@font-face {
  font-family: 'BodoniFLF-Regular';
  src: url('./static/fonts/Bodoni/BodoniFLF-Regular.ttf')
}

@font-face {
  font-family: 'GOTHICB';
  src: url('./static/fonts/CB/GOTHICB.TTF')
}

@font-face {
  font-family: 'gothicm';
  src: url('./static/fonts/CB/gothicm.ttf')
}

.landing-page {
  display: grid;
  height: 100vh;

  .kwazi-title {
    text-align: center;
    align-self: center;

    h2 {
      font-family: 'BodoniFLF-Regular';
      font-size: 8rem;
      font-weight: 300;
      margin: -120px 0px 0px 0;
      padding: 0;
      border-bottom: 3px solid #000;
      display: inline-block;
      line-height: 5rem;
      @media screen and (max-width: 800px) {
        font-size: 3rem !important;
        line-height: 1.5rem;
      }
      span {
        cursor: pointer;
        &:nth-of-type(1) {
          padding-right: 5px;
        }

        &:nth-of-type(2) {
          padding: 0px 10px;
        }

        &:nth-of-type(3) {
          padding: 0px 10px;
        }

        &:nth-of-type(4) {
          padding: 0px 10px;
        }

        &:nth-of-type(5) {
          padding-left: 5px;
        }
      @media screen and (min-width: 800px) {
        &:nth-of-type(1) {
          padding-right: 30px;
        }

        &:nth-of-type(2) {
          padding: 0px 60px;
        }

        &:nth-of-type(3) {
          padding: 0px 60px;
        }

        &:nth-of-type(4) {
          padding: 0px 60px;
        }

        &:nth-of-type(5) {
          padding-left: 30px;
        }
      }
        
      }
    }
    

    .tag-line {
      font-size: 2.5rem;
      letter-spacing: 1.1rem;
      margin-right: -0.5em;
      @media screen and (max-width: 800px) {
        font-size: 1rem;
        letter-spacing: 0.7rem;

      }
    }
  }
}

.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: table;
  height: 100vh;
 }
 
 .text-animation {
   display: table-cell;
   vertical-align: middle;
   padding: 30px;
   text-align:center;
   h2 {
     position: relative;
     display: inline-block;
    //  overflow: hidden;
     text-transform: capitalize;
     text-decoration:none;
     color:#000;
 
     span {
       display: inline-block;
       vertical-align: top;
       transform: rotate3d(0,1,0,360deg);
       transition: transform 1.4s, color 0.2s ease-in;
       
       &:hover{

        &:nth-child(1) {
          color: #000;
        }
        &:nth-child(2) {
          color: #000;
        }
        &:nth-child(3) {
          color: #000;
        }
        &:nth-child(4) {
          color: #000;
        }
        &:nth-child(5) {
          color: #000;
        }
       }
     }
     

 
     &:hover {
       text-decoration: none;
       color: red;
       &:before {
        transform: translate3d(0,0,0);
       }
 
       span {
         color: rgb(133, 129, 129);
         transform: rotate3d(0,1,0,0deg);
         transition: transform 1.4s, color 0.2s ease-in;
         @for $i from 1 through 5 {;
           &:nth-child(#{$i}) {
             transition-delay: #{$i * .2}s
           }
         }
       }
     }
 
    //  &:before {
    //    content: '';
    //    position: absolute;
    //    height: 100%;
    //    width: 100%;
    //    border-width: 2px 0;
    //    border-color: rgb(133, 129, 129);
    //    border-style: solid;
    //    left: 0;
    //    transform: translate3d(-100%,0,0);
    //    transition: transform 1.4s linear;
    //  }
   }
 }

.welcome-header-image {
  height: 200px;
  background-position: center;
  background-size: cover;
  display: grid;

  .header-text {
    font-family: 'GOTHICB';
    text-align: center;
    align-self: center;
    letter-spacing: 1rem;
  }
}


h3 {

  font-size: 2rem;
  letter-spacing: 1rem;
}

.page-section {
  h3 {
    text-align: center;
    letter-spacing: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 20px 0px;
  }

  p {
    font-family: 'gothicm';

  }
}

.practice-section {
  .practice-card {
    .header {
      .title {
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        position: relative;
        top: -31px;
        left: -40px;
        text-transform: uppercase;
        font-family: 'GOTHICB';
      }

      .icon {
        height: 80px;

        img {
          width: 60px;
          display: grid;
          align-self: center;
        }
      }
    }

    .content {
      p {
        font-size: 14px;
      }
    }
  }
}

.services-section {
  .services-card {
    text-align: center;

    .icon {
      img {
        height: 100px;
      }
    }

    .service-card-title {
      padding: 30px 0px;
      font-family: 'gothicm';
    }
  }
}

.work-page-section {
  width: 80%;
  margin: auto;
  padding-bottom: 40px;
}

.work-section {
  .work-card {
    text-align: center;

    .title {
      font-family: 'GOTHICB';
    }

    .type {

      font-family: 'gothicm';
      font-size: 13px;
    }
  }
}

.about-us-section {

  width: 80%;
  margin: auto;
  padding-bottom: 40px;

  h3 {
    text-align: center;
    font-size: 2rem;
    font-family: 'GOTHICB';
  }

  .work-with-us-section {
    padding: 40px 0px;

    .value-card {
      text-align: center;

      .thumbnail {
        img {
          height: 120px;
        }
      }

      .title {
        font-family: 'gothicm';
        padding: 30px 0px;
      }
    }
  }

  .about-kwazi-word {
    font-size: 0.8rem;
    font-family: 'gothicm';
    .text-bold{

    font-family: 'GOTHICB';
    }
  }

  .team-section {
    padding: 20px 0px;

    .team-card {
      .thumbnail {
        text-align: center;
        padding: 20px;

        img {
          width: 100%;
        }
      }

      .content {
        text-align: center;
        display: grid;
        align-self: center;

        .name {
          font-family: 'GOTHICB';

        }

        .position {
          font-family: 'gothicm';

        }

        .about {
          font-family: 'gothicm';
          padding: 40px 40px 0px 40px;
          line-height: 1.5rem;
          @media screen and (max-width: 800px){
            padding: 40px 0px 40px 0px;
          }
        }
      }
    }
  }
}

.zenith-title {
  text-align: center;
  font-family: 'GOTHICB';
  font-size: 2rem;
  letter-spacing: 1rem;

}

.zenith-section {
  width: 80%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 60% 40%;

  @media screen and (max-width: 800px){
    grid-template-columns: 100%;
  }
  img {
    width: 100%;
  }
}


.i-am-bored-container {
  width: 80%;
  margin: 0px auto;
}

.i-am-bored-section {
  padding-bottom: 40px;

  .bored-card {
    text-align: center;

    .title {
      font-family: 'GOTHICB';
      font-size: 1rem;
      padding: 20px;
    }
  }
}

p {
  font-family: 'gothicm';
  font-size: 16px;
  line-height: 30px;
}

.practice-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.practice-card {
  background-color: #000000;
  color: #fff;
  padding: 20px;

  .header {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

.services-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.work-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.work-with-us-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.i-am-bored-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.team-section {
  .team-card {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 20px;
    @media screen and (max-width: 800px) {
      display: grid;
      grid-template-columns: 100%;
      grid-gap: 0px;

    }
  }
}

.contact-us {
  display: inline-block;
  float: right;
  font-family: 'gothicm';
  border-bottom: 1px solid #000;
  font-size: 0.8rem;
  padding-top: 20px;
  cursor: pointer;
}