html {
  scroll-behavior: smooth;
}

body {
  max-width: 1200px;
  margin: 0px auto;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
  height: 50px;
}

::-moz-scrollbar-thumb {
  background-color: #000000;
}

* {
  scrollbar-color: #000000;
  scrollbar-width: thin;
}

.landing-section {
  min-height: 100vh;
}

// https://codepen.io/bastianalbers/pen/PWBYvz

.section {
  min-height: 100vh;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
  transition: height 3s;
}


.section-inner {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 5%;
  bottom: 5%;
  margin: auto;
  background: white;
  transition: height 3s;

  @media screen and (max-width: 800px) {
    left: 5%;
    right: 5%;
    top: 5%;
    bottom: 5%;
  }

  .page-content {
    overflow-y: scroll;
    height: calc(100vh - 200px);
    border-bottom: 2px solid #000;
    margin-top: 40px;
    padding: 0px 30px;
    transition: height 0.65s 0.1s;

    @media screen and (max-width: 800px) {
      padding: 0px 5px 0px 0px;
    }
  }

  .contact-us-content {
    overflow-y: scroll;
    height: calc(100vh - 150px);
    margin-top: 40px;
    padding: 0px 30px;
    transition: height 0.65s 0.1s;

    @media screen and (max-width: 800px) {
      padding: 0px 5px 0px 0px;
    }

    h3 {
      font-family: 'gothicm';

    }

    form {
      text-align: center;

      .input-field {
        padding: 10px;

        label {
          font-size: 13px;
          font-family: 'gothicm';
        }

        input {
          text-align: center;
          // display: block;
          width: 400px;
          padding: 5px;
          margin: 5px;
          border: none;
          border-bottom: 1px solid #000;
          box-shadow: none;

          &:focus {
            outline: none;
            box-shadow: none;
          }
        }

        span {
          font-size: 12px;
          color: red;
        }
      }

      button {
        font-family: 'gothicm';
        background-color: #000;
        color: #fff;
        border: 0;
        font-size: 1rem;
        padding: 5px 15px;
        cursor: pointer;
      }
    }
  }
}

.social-icons {
  text-align: center;

  img {
    padding: 0px 30px;
    width: 25px;
  }
}


@media screen and (max-width: 800px) {
  h3 {
    letter-spacing: 0.2rem !important;
  }
}

.page-title-head {
  border-bottom: 2px solid #000;
  display: grid;
  grid-template-columns: auto 50px;

  .close-layer {
    align-self: center;
    cursor: pointer;
    font-family: 'GOTHICB';
    text-align: right;
    padding-right: 10px;
  }

}

.contact-us-page-head {
  display: grid;
  grid-template-columns: auto 50px;

  .close-layer {
    align-self: center;
    cursor: pointer;
    font-family: 'GOTHICB';
  }

}

.page-title-head .cl {
  font-size: 5rem;
  font-family: 'BodoniFLF-Regular';
  line-height: 4.5rem;
  letter-spacing: -6px;
}

.page-title-head .right {
  height: 3.2rem;
  overflow: hidden;
  position: relative;
}

.page-title-head .sl {
  font-family: 'BodoniFLF-Regular';
  font-size: 1.2rem;
  text-transform: uppercase;
  position: absolute;
  bottom: -5px
}

@font-face {
  font-family: 'BodoniFLF-Regular';
  src: url('./static/fonts/Bodoni/BodoniFLF-Regular.ttf')
}

@font-face {
  font-family: 'GOTHICB';
  src: url('./static/fonts/CB/GOTHICB.TTF')
}

@font-face {
  font-family: 'gothicm';
  src: url('./static/fonts/CB/gothicm.ttf')
}

.landing-page {
  display: grid;
  height: 100vh;

  .kwazi-title {
    text-align: center;
    align-self: center;

    h2 {
      font-family: 'BodoniFLF-Regular';
      font-size: 8rem;
      font-weight: 300;
      margin: -120px 0px 0px 0;
      padding: 0;
      border-bottom: 3px solid #000;
      display: inline-block;
      height: 6rem;
      overflow: hidden;

      @media screen and (max-width: 800px) {
        font-size: 3rem !important;
        line-height: 1.5rem;
      }

      div {
        cursor: pointer;
        display: inline-block;

        span {

          &:hover {
            -webkit-animation: mover 1s forwards;
            animation: mover 1s forwards;
          }
        }

        &:nth-of-type(1) {
          padding-right: 5px;
        }

        &:nth-of-type(2) {
          padding: 0px 10px;
        }

        &:nth-of-type(3) {
          padding: 0px 10px;
        }

        &:nth-of-type(4) {
          padding: 0px 10px;

          span {
            margin-top: -30px;

          }
        }

        &:nth-of-type(5) {
          padding: 0px 10px;
        }

        &:nth-of-type(6) {
          padding-left: 5px;
        }

        @media screen and (min-width: 800px) {
          &:nth-of-type(1) {
            padding-right: 30px;
            margin-bottom: -20px !important;
          }

          &:nth-of-type(2) {
            padding: 0px 50px;
          }

          &:nth-of-type(3) {
            padding: 0px 50px;
          }

          &:nth-of-type(4) {
            padding: 0px 50px;
          }

          &:nth-of-type(5) {
            padding: 0px 50px;
          }

          &:nth-of-type(6) {
            padding-left: 30px;
          }
        }

      }
    }


    .tag-line {
      font-size: 2.5rem;
      letter-spacing: 1.15rem;
      margin-right: -0.5em;

      font-family: 'BodoniFLF-Regular';

      @media screen and (max-width: 800px) {
        font-size: 1rem;
        letter-spacing: 0.7rem;

      }
    }
  }
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: table;
  height: 100vh;
}

.text-animation {
  display: table-cell;
  vertical-align: middle;
  padding: 30px;
  text-align: center;

  h2 {
    position: relative;
    display: inline-block;
    //  overflow: hidden;
    text-transform: capitalize;
    text-decoration: none;
    color: #000;

    span {
      display: inline-block;
      vertical-align: top;
      transform: rotate3d(0, 1, 0, 360deg);
      transition: transform 1.4s, color 0.2s ease-in;

      &:hover {

        &:nth-child(1) {
          color: #000;
        }

        &:nth-child(2) {
          color: #000;
        }

        &:nth-child(3) {
          color: #000;
        }

        &:nth-child(4) {
          color: #000;
        }

        &:nth-child(5) {
          color: #000;
        }

        &:nth-child(6) {
          color: #000;
        }
      }
    }

    //  &:before {
    //    content: '';
    //    position: absolute;
    //    height: 100%;
    //    width: 100%;
    //    border-width: 2px 0;
    //    border-color: rgb(133, 129, 129);
    //    border-style: solid;
    //    left: 0;
    //    transform: translate3d(-100%,0,0);
    //    transition: transform 1.4s linear;
    //  }
  }
}

.welcome-header-image {
  height: 241px;
  background-position: center;
  background-size: cover;
  display: grid;

  .header-text {
    font-family: 'GOTHICB';
    text-align: center;
    align-self: center;
    letter-spacing: 1rem;
    font-size: 30px;
  }
}


h3 {

  font-size: 30px;
  letter-spacing: 1rem;
}

.page-section {
  h3 {
    text-align: center;
    letter-spacing: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 20px 0px;
  }

  p {
    font-family: 'gothicm';

  }
}

.practice-section {
  .practice-card {
    .header {
      .title {
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        position: absolute;
        top: 20px;
        left: -30px;
        text-transform: uppercase;
        font-family: 'GOTHICB';
        font-size: 16px;
      }

      .icon {
        height: 80px;

        img {
          width: 60px;
          display: grid;
          align-self: center;
        }
      }
    }

    .content {
      p {
        font-size: 14px;
      }
    }
  }
}

.services-section {
  .services-card {
    text-align: center;

    .icon {
      img {
        height: 100px;
      }
    }

    .service-card-title {
      padding: 30px 0px;
      font-family: 'gothicm';
      width: 60%;
      margin: 0 auto;
    }
  }
}

.work-page-section {
  width: 90%;
  margin: auto;
  padding-bottom: 40px;
}

.work-section {
  .work-card {
    text-align: center;
    padding-bottom: 20px;

    .thumbnail {
      img {
        width: 100%;
      }
    }

    .title {
      font-family: 'GOTHICB';
      padding-top: 20px;
    }

    .type {

      font-family: 'gothicm';
      font-size: 13px;
    }
  }
}

.about-us-section {

  width: 90%;
  margin: auto;
  padding-bottom: 40px;

  h3 {
    text-align: center;
    font-size: 2rem;
    font-family: 'GOTHICB';
  }

  .work-with-us-section {
    padding: 40px 0px;

    .value-card {
      text-align: center;

      .thumbnail {
        img {
          height: 120px;
        }
      }

      .title {
        font-family: 'gothicm';
        padding: 30px 0px;
      }
    }
  }

  .about-kwazi-word {
    font-size: 0.8rem;
    font-family: 'gothicm';

    .text-bold {

      font-family: 'GOTHICB';
    }
  }

  .second-team-card {

    .content {
      order: 1;

      .about {
        text-align: left !important;
      }
    }


    .thumbnail {
      order: 2;
      text-align: center;
      padding: 20px;
    }
  }

  .team-section {
    padding: 20px 0px;

    .team-card {

      .thumbnail {
        text-align: center;
        padding: 20px;

        img {
          max-width: 100%;
          height: 300px;
        }
      }

      .content {
        text-align: center;
        display: grid;
        align-self: center;

        .name {
          font-family: 'GOTHICB';
          letter-spacing: 0.6rem;

        }

        .position {
          font-family: 'gothicm';
          font-size: 0.9rem;
        }

        .about {
          font-family: 'gothicm';
          padding: 40px 40px 0px 40px;
          line-height: 1.5rem;
          text-align: right;

          @media screen and (max-width: 800px) {
            padding: 40px 0px 40px 0px;
          }
        }
      }
    }
  }
}

.zenith-title {
  text-align: center;
  font-family: 'GOTHICB';
  font-size: 2rem;
  letter-spacing: 1rem;

}

.zenith-section {
  width: 80%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 60% 40%;

  @media screen and (max-width: 800px) {
    grid-template-columns: 100%;
  }

  img {
    width: 100%;
  }
}


.i-am-bored-container {
  width: 80%;
  margin: 0px auto;
}

.i-am-bored-section {
  padding-bottom: 40px;

  .bored-card {
    text-align: center;

    .title {
      font-family: 'GOTHICB';
      font-size: 1rem;
      padding: 20px;
    }
  }
}

p {
  font-family: 'gothicm';
  font-size: 17px;
  line-height: 30px;

}

.p-container {
  width: 80%;
  margin: 0px auto;
}

.practice-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.practice-card {
  background-color: #000000;
  color: #fff;
  padding: 20px 20px 0px 20px;

  .header {
    display: grid;
    grid-template-columns: 100%;
    position: relative;

    .icon {
      justify-self: end
    }
  }
}

#cf {
  position: relative;
  height: 340px;
  margin: 0 auto;
}

#cf img {
  width: 100%;
  position: absolute;
  left: 0;
  cursor: pointer;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity: 0;
}

.kwazi-pron {
  cursor: pointer;
}

.project-info-container {
  position: absolute;
  top: 60px;
  z-index: 9;
  left: 0;
  bottom: 5;
  right: 0;

  background-color: #fff;

  .back-btn {
    display: flex;
    margin-top: 20px;
    cursor: pointer;

    img {
      height: 20px;
      padding-right: 10px;
    }
  }

  .details-inner {
    // padding: 120px;
    overflow-y: scroll;
    height: calc(100vh - 160px);
    padding: 0px 40px;

    .details-header {
      display: grid;
      grid-template-columns: 30% 70%;

      img {
        width: 100%;
      }

      .content {
        h3 {
          text-align: left;
          display: inline-block;
          align-self: center;
        }
      }


    }
  }
}

.project-banner {
  width: 70%;
  margin: 0px auto;
  padding: 40px 0px;

  img {
    width: 100%
  }
}

.gallery {
  .item {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;

    .project-image-bg {
      height: 300px;
      width: 100%;
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      width: 100%;
      object-fit: cover;
      background-position: center;
      background-size: cover;

    }
  }

  .item__overlay {
    background: #ffc60032;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    transition: 0.2s;
    transform: translateY(100%);

    button {
      background: none;
      border: 2px solid white;
      color: white;
      text-transform: uppercase;
      background: rgba(0, 0, 0, 0.7);
      padding: 5px;
    }
  }

  .item:hover {
    .item__overlay {
      transform: translateY(0);
    }
  }
}

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: -10px;
  left: 0;
  display: none;
  z-index: 999;
  max-height: calc(100vh);
}

.overlay.open {
  display: grid;
  align-items: center;
  justify-items: center;
}

.overlay-inner {
  background: white;
  width: 700px;

  .close {
    background: none;
    color: black;
    border: 0;
  }
}

.carousal-pagination {
  text-decoration: none;
  text-align: center;

  li {
    width: 15px;
    height: 15px;
    border: 2px solid #000;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
  }

  li.active {
    background-color: #000;
  }

}

.overlay img {
  width: 100%;
}

#linkAudio {
  position: absolute;
  top: -999px;
}

.services-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 60px;
  max-width: 1200px;
  margin: 0px auto;
}

.work-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  max-width: 1200px;
  margin: 0px auto;
}

.work-with-us-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  max-width: 1200px;
  margin: 0px auto;
}

.i-am-bored-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  max-width: 1200px;
  margin: 0px auto;
}

.team-section {
  .team-card {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 50% 50%;

    @media screen and (max-width: 800px) {
      display: grid;
      grid-template-columns: 100%;
      grid-gap: 0px;

    }
  }
}

.contact-us {
  display: inline-block;
  float: right;
  font-family: 'gothicm';
  border-bottom: 1px solid #000;
  font-size: 0.8rem;
  padding-top: 20px;
  cursor: pointer;
}

.contact-us-home {
  display: inline-block;
  float: right;
  font-family: 'gothicm';
  border-bottom: 1px solid #000;
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  cursor: pointer;
  width: 70px;
}

.links-preview {
  text-align: center;

  .embeded {

    max-width: 560px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}